fuzzel-args --minimal-lines
fuzzel-config {
    width "12"
}

program Firefox {
    command firefox
    icon firefox
}

program Vesktop {
    command flatpak run dev.vencord.Vesktop
    icon dev.vencord.Vesktop
}

menu Submenu {
    fuzzel-args --minimal-lines --hide-prompt
    fuzzel-config {
        font "monospace:size=20"
        line-height "30"
    }

    icon-dir "~/.config/uff/"
    icon tbh

    program Yippee {
        command notify-send yippee
        icon tbh
    }
}
